@import url('https://fonts.googleapis.com/css?family=Notable');

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

potato-title {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 3em;
  font-family: 'Notable', sans-serif;
  color: #2103;
  z-index: 752;
}

     

        
          potato-subtitle {
            font-family: 'Titillium Web', sans-serif;
            position: absolute;
            top:150px;
            z-index: 752;
          }
          
          button {
    position:absolute;
    background-color: #fff; /* White */
    top: 200px;
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    z-index: 752;
}
